
<div class="container">
  <div class="booking">
    <h1>Booking information</h1>
    <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <div class="booking-info">

      <div class="booking-info-booking">
        <div class="booking-image">
          <% @car.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class:"post-image img-fluid" %>
          <% end %>
        </div>
        <ul>
          <li>Brand: <b><%= @car.brand %></b></li>
          <li>Model: <b><%= @car.model %></b></li>
          <li>Year: <b><%= @car.year %></b></li>
          <li>Horsepower: <b><%= @car.horse_power %></b></li>
          <li>From: <b><%= @booking.from.strftime("%a, %d %b Y") %></b></li>
          <li>To: <b><%= @booking.to.strftime("%a, %d %b %Y") %></b></li>
          <li>Number of days: <b><%= (@booking.to - @booking.from) %></b></li>
          <li>Price per day: <b><%= @car.price %>€</b></li>
          <li>Total: <b><%= @car.price %></b></li>
          <li>Address: <b><%= @car.address %></b></li>
        </ul>
      </div>
      <div class="booking-info-description">
        <h2><strong><%= "#{@car.brand.upcase}  #{@car.model.upcase}" %></strong></h2>
        <p><%= @car.description %></p>
        <%= link_to 'back to main menu', root_path, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
</div>

