<h1>Cars#index</h1>
<p>Find me in app/views/cars/index.html.erb</p>
<ul>
  <% @cars.each do |car| %>
    <li>
    <%= link_to car_path(car) do %>
      <h2>
        <%= "#{car.brand} #{car.model}"%>
      </h2>
      <% end %>
      <ul>
        <li><%= "Year: #{car.year}" %></li>
        <li><%= "Horse power: #{car.horse_power}" %></li>
        <li><%= "Price: #{car.price}€/day" %></li>
      </ul>
    </li>
  <% end %>
  <li>
    <h2>
    <%= link_to 'Add new car', new_car_path %>
    </h2>
  </li>
</ul>
