</div>
  <%= render 'banner' %>
<div class="container">
<div class="card-list">
  <% @cars.each do |car| %>
    <%= link_to car_path(car), class: "card-car" do %>
      <%= image_tag car.photo %>
      <div class="card-car-infos">
        <div>
            <h2><%= "#{car.brand} #{car.model}"%></h2>
          <p><%= "Year: #{car.year} | Horse power: #{car.horse_power}" %></p>
        </div>
        <h2 class="card-car-pricing"><%= "#{car.price}€ per day" %></h2>
        <%= image_tag car.user.avatar, class: "card-car-user avatar-bordered" %>
      </div>
    <% end %>
  <% end %>
  <%= link_to new_car_path, class: "card-car" do %>
    <h2>Add new car</h2>
    <div class="card-car-infos">
    </div>
  <% end %>
</div>
