<h1>Cars#show</h1>
<p>Find me in app/views/cars/show.html.erb</p>

<h2>
  <%= "#{@car.brand} #{@car.model}"%>
</h2>
<ul>
  <li><%= "Year: #{@car.year}" %></li>
  <li><%= "Horse power: #{@car.horse_power}" %></li>
  <li><%= "Price: #{@car.price}€/day" %></li>
</ul>
<p><%= @car.description %></p>

<p><%= link_to 'modify car', edit_car_path %></p>
<p><%= link_to 'delete car', car_path, method: :delete %></p>
<%= link_to 'back to main menu', cars_path %>

